/* Estilos da página index.html */

.left{
    font-size: 16px;
    text-align: left;
}

.center{
    text-align: center;
}

.container-sobreMin{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
}
.container-sobreMin:hover{
    background-color: aqua;
}

.container-meusInteresses{
    display: flex;
    
}

.container-meusInteresses1{
    flex-direction: column;
    justify-content: left;
    
}

.container-meusInteresses2{
    flex-direction: column;
    justify-content: center;
    
}

.container-meusInteresses3{
    flex-direction: column;
    justify-content: right;
    
}

.container-meusInteresses:hover{
    background-color: aqua;
}


.estilo-menu{
    background-color: royalblue;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: -10px;
    left: -10px;
    
}

.menu li{
    display: inline;
    padding: 15px;
    font-size: 20px;
    
    
}

.menu li a{
    text-decoration: none;
    color: crimson;
    
}

.menu li a:hover{
    color: darkblue;
    
    
}



.espaco{
    padding: 30px;
}

.bordaArredondada{
    border-radius: 50%;
}

.tamanhoIcone{
    width: 30px;
    height: 30px;
    
}

.espaco-icones{
    

    margin: 0px;
}

.espacoBottom{
    margin-bottom: 100px;
}


.ft{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
}
/*.retangulo{

    background: #4679BD;
    min-height: 50px;
    width: 100%;   
}


.retanguloNav{

    background: #4679BD;
    min-height: 50px;
    width: 100%;
    
}

.retanguloMeusInteresses :hover{

    background: #4679BD;
    min-height: 100px;
    width: 33%;
    border: aqua solid 1rem;
    
}*/
