/* Estilos da página index.html */

.left{
    font-size: 16px;
    text-align: left;
}

.center{
    text-align: center;
}

.container-sobreMin{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
}

.ft{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
}

.container-meusInteresses{
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: flex-start;
 
}

.container-sobreMin:hover{
    background-color: aqua;
}

.container-meusInteresses:hover{
    background-color: aqua;
}

#menu li{
    display: inline;
    padding: 15px;
    font-size: 20px;
    
}

#menu li a{
    text-decoration: none;
    color: crimson;
}

#menu li a:hover{
    color: darkblue;
}

.espaco{
    padding: 30px;
}

.bordaArredondada{
    border-radius: 50%;
}

.tamanhoIcone{
    width: 30px;
    height: 30px;
}

.espacoBottom{
    margin-bottom: 50px;
}
/*.retangulo{

    background: #4679BD;
    min-height: 50px;
    width: 100%;   
}


.retanguloNav{

    background: #4679BD;
    min-height: 50px;
    width: 100%;
    
}

.retanguloMeusInteresses :hover{

    background: #4679BD;
    min-height: 100px;
    width: 33%;
    border: aqua solid 1rem;
    
}*/
